div{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}
.center-box{
    height: 250px;
    width: 1200px;
    background-color: darkblue;
}
.center-item{
    height: 100px;
    width: 100px;
    margin-left: 550px;
    background-color: navajowhite;
    align-items: center;
}
